.common-link {
  margin: 8px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;

}


.display-link-common {
  overflow: hidden;
}
.br-high {
  border-radius: 100px !important;
}
.br-medium {
  border-radius: 15px !important;
}
.outlined {
  background: transparent !important;
  border-width: 1px !important;
  border-style: solid !important;
}



.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.transparency-on {
  backdrop-filter: blur(8px) !important;
  background-color: rgba(0, 0, 0, 0.196) !important;
  -webkit-backdrop-filter: blur(8px) !important;
}