.flux {
  background: linear-gradient(45deg, #ff00a2, #4a00e0, #00ffe1, #00e8a3);
  background-size: 600% 600%;
  animation: fluxAnimation 6s linear infinite;
}

@keyframes fluxAnimation {
  0% {
    background-position: 0% 50%;
}
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}