.bar {
  width: 10px;
  height: 0;
  position: absolute;
  bottom: 0;
  background-color: #f9d423; /* Yellow */
  margin-right: 5px; /* Add margin to space out bars */
  transition: height 0.5s ease;
}

.bar:nth-child(1) {
  height: 40%;
  left: 0;
}

.bar:nth-child(2) {
  height: 60%;
  left: 15px; /* Adjust the left position */
}

.bar:nth-child(3) {
  height: 80%;
  left: 30px; /* Adjust the left position */
}

.bar:nth-child(4) {
  height: 50%;
  left: 45px; /* Adjust the left position */
}

.bar:nth-child(5) {
  height: 70%;
  left: 60px; /* Adjust the left position */
}